{% extends 'TheKiddoDontist/index.html' %}
{% block differentpart %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage.css" />
    <link rel="stylesheet" href="header_footer.css" />
    <link rel="shortcut icon" href="favicon.ico.png" type="image/x-icon">
    <title>The KiddoDontist</title>

  </head>
  <body>
   
    
    <body>
      <div id="slideshow">
        <img src="best-pediatric-dentist.jpg">
        <img src="Back-to-School-Dental-Checkup-Pleasant-St-Dental-East-Longmeadow-Ma-e1597064370762.jpg">
        <img src="back3 (2).jpg">
        
      </div>
      
    </body>
    <p>
      <div class="paragraph1">
      WELCOME TO THE KIDDODONTIST,<br> CAN'T WAIT TO SEE YOU KIDDO ... 
  </div>
    </p>

  <div class="gif"> <img src="200w.gif"></div>

    <div class="floating-icons">
      <a href="tel:1234567890" class="telephone"><i class="fa fa-phone"></i></a>
      <a href="https://wa.me/1234567890" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      <a href="geo:37.7749,-122.4194" class="location"><i class="fa fa-map-marker"></i></a>
    </div>
    
 
    <script src="script.js"></script>
  
  </body>
</html>
{% endblock %}