<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><a href="index.html"><img src="logo-no-background.png" alt="Your Logo"></a></h1>
        
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Online Booking.html">Online Booking</a></li>
            <li><a href="7anafy.html">About Us</a></li>
            <li class="dropdown">
              <a href="">Services &#9662;</a>
              <ul class="dropdown-menu">
                <li><a href="PediatricDentistry.html">Pediatric Dentistry</a></li>
                <li><a href="project.html">General Anesthesia</a></li>
              </ul>
            </li>
            <li><a href="Reviews.html">Reviews</a></li>
            <li><a href="contactUs.html">Contact Us</a></li>
            <li><a href="Login.html">login</a></li>
          </ul>
        </nav>
        </header>
        {% block differentpart %}
        
        {% endblock %}
    <footer>

        <p>&copy; 2023 Dental Clinic</p>
      </footer>
</body>
</html>